<section>
  <div class="tryllelasse">
    <h2>
      “TRYLLER SMIL FREM <br />
      PÅ BØRNEHOSPITALERNE”
    </h2>

    <p>
      Jeg har haft den store fornøjelse at samarbejde med KidsAid siden 2017 og
      bringe min lidenskab for trylleri og ballondyr til børneafdelingerne på
      Hvidovre og Herlev hospital. Min mission er klar: At være med til at gøre
      en forskel for de indlagte børn og deres forældre. 
      <br />
      <br />
      Gennem magiske trylletricks og farverige ballondyr stræber jeg efter at skabe
      øjeblikke fyldt med smil og glæde i en ellers udfordrende tid. At se børnenes
      ansigter lyse op og give dem muligheden for at glemme deres sygdomme, selvom
      det blot er et kort øjeblik, er min største belønning.
    </p>

    <div class="balloner">
      <img
        class="gron_hund"
        src="../../public/elementer/gron_hund.png"
        alt="gron_hund"
      />
      <img
        class="pink_hund"
        src="../../public/elementer/pink_hund.png"
        alt="pink_hund"
      />
    </div>
  </div>

  <style>
    .tryllelasse {
      text-align: center;
      font-size: 12px;
      font color: black;
    }

      .balloner {
        position: relative;
        width: 100%;
        height: 300px;
      }
      .gron_hund {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 100px;
      }

      .pink_hund {
        position: absolute;
        top: 100px;
        right: 20px;
        width: 120px;
      }
    
  </style>
</section>
