
<section class="herosection">
    <div class="image-container">
      <img src="/img/magiens_venner_h1.png" alt="H1_magiensvenner">
    </div>

    <div class="herosection_balloner">
      <img src="../../public/elementer/gul_hund.png" alt="gul_hund">

    </div>
  </section>


  <style>
    

  </style>