<section>
  <div class="magiens_venner_h1">
    <img id="parallax-image" src="../../public/elementer/magiens_venner.svg" alt="magiensvenner">
  </div>

  <div class="herosection_balloner">
    <img class="pink_ballon" src="./public/elementer/bla_ballon.svg" alt="gul_hund">
    <img class="gul_hund" src="./public/elementer/gul_hund.svg" alt="gul_hund">
    <img class="pink_stjerne" src="../../public/elementer/pink_stjerne.svg" alt="pink_stjerne">
    <img class="bla_hund" src="../../public/elementer/bla_hund.svg" alt="bla_hund">
    <img class="gron_ballon" src="../../public/elementer/gron_ballon.svg" alt="gron_ballon">
    <img class="bla_stjerne" src="../../public/elementer/bla_stjerne.svg" alt="bla_stjerne">
    <img class="gron_stjerne" src="../../public/elementer/gron_stjerne.svg" alt="gron_stjerne">
    <img class="gron_hund" src="../../public/elementer/gron_hund.svg" alt="gron_hund">
    <img class="gul_ballon" src="../../public/elementer/gul_ballon.svg" alt="gul_ballon">
    <img class="lyse_gron_stjerne" src="../../public/elementer/lyse_gron_stjerne.svg" alt="lyse_gron_stjerne">
    <img class="pink_hund" src="./public/elementer/pink_hund.svg" alt="pink_hund">
    <img class="bla_ballon" src="./public/elementer/bla_ballon.svg" alt="bla_ballon">
  </div>
</section>

 <style>
  
  .magiens_venner_h1 {
    position: relative;
    z-index: 1; 
  }

  #parallax-image {
    position: fixed; 
    top: var(--parallax-offset, 0); 
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    z-index: 0; 
    margin-top: 50px;
  }

  .herosection_balloner {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 300px; 
  }

.pink_ballon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: -150px;
  transform: scale(0.6);
}

.gul_hund {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transform: scale(1.5);
  margin-top: -200px;
}

.pink_stjerne {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  transform: scale(1.2);
  margin-top: 20px;
}

.bla_hund {
  grid-column: 6 / 8;
  grid-row: 3 / 4;
  transform: scale(0.7);
}

.gron_ballon {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  margin-top: -200px;
  margin-left: 100px;
}

.bla_stjerne {
  grid-column: 7 / 9;
  grid-row: 2 / 3;
  transform: scale(0.5);
}

.gron_stjerne {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  
}

.gron_hund {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  transform: scale(0.6);
  transform: scaleX(-1); 
}

.gul_ballon {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.lyse_gron_stjerne {
  grid-column: 8 / 9;
  grid-row: 4 / 5;
}

.pink_hund {
  grid-column: 2 / 4;
  grid-row: 4 / 6;
  transform: scale(0.7);
}

.bla_ballon {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-left: 100px;
  transform: scale(2);
}
 </style>

 <script>
// Variabel til at kontrollere offset
let parallaxOffset = 0;

// Opdater CSS-variablen baseret på scroll
window.addEventListener("scroll", () => {
  const scrollY = window.scrollY;
  
  // Parallax-effekt - juster multiplikatoren for hastighed
  parallaxOffset = scrollY * 0.35;

  // Sæt den dynamiske værdi via CSS-variabel
  document.documentElement.style.setProperty('--parallax-offset', `${parallaxOffset}px`);
});
 </script>
