
<section>
    <div class="image-container">
      <img src="../../public/elementer/magiens_venner.png" alt="magiensvenner">
    </div>

    <div class="herosection_balloner">
      <img src="../../public/elementer/gul_hund.png" alt="gul_hund">
      <img src="../../public/elementer/pink_stjerne.png" alt="pink_stjerne">
      <img src="../../public/elementer/bla_hund.png" alt="bla_hund">
      <img src="../../public/elementer/gron_ballon.png" alt="gron_ballon">
      <img src="../../public/elementer/bla_stjerne.png" alt="bla_stjerne">
      <img src="../../public/elementer/gron_stjerne.png" alt="gron_stjerne">
      <img src="../../public/elementer/gron_hund.png" alt="gron_hund">
      <img src="../../public/elementer/gul_ballon.png" alt="gul_ballon">
      <img src="../../public/elementer/lyse_gron_stjerne.png" alt="lyse_gron_stjerne">
      <img src="../../public/elementer/pink_hund.png" alt="pink_hund">
      <img src="../../public/elementer/bla_ballon.png" alt="bla_ballon">
    </div>
  </section>


  <style>
    

    .herosection_balloner{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
   
  </style>