
<section>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</section>

<style>
  section {
    width: 100%;
    background-attachment: scroll;
  }
  .progress-container {
    position: fixed; /* Gør progress-container fast */
    top: 0; /* Placer den øverst */
    left: 0; /* Strækker den fra venstre */
    width: 100%; /* Fuld bredde */
    height: 10px;
    background: #ffffff;
    z-index: 1000; /* Sørg for, at den vises oven på andre elementer */
  }

  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 10px;
    background: linear-gradient(90deg, #640068, #a300b8, #640068);
    background-size: 200% 200%;
    animation: shiny-scroll 3s linear infinite;
    width: 0%;
  }
</style>

<script>
  window.addEventListener("scroll", onScroll);

  function onScroll() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
</script>
