<section>

    <div class="info_tekst_2">
    <h2>“Støt de magiske øjeblikke”</h2>
    </div>

    <div>
        <h3>KidsAid Family</h3>
        <p>Vil du og din virksomhed være en del af et stærkt netværk? For 10.000 kr. årligt støtter I KidsAid og inviteres til events samt særlige Family-events.</p>
    </div>

    <div>
        <h3>Kontooverførsel</h3>
        <p>Hvis du ønsker at overføre et vilkårligt beløb til vores bankkonto kan det gøres til følgende:Reg. </p>
    </div>

    

    <div class="balloner">
<img class="gron_stjerne" src="../../public/elementer/gron_stjerne.png" alt="gron_stjerne">
<img class="blå_stjerne" src="../../public/elementer/blå_stjerne.png" alt="blå_stjerne">
<img class="blå_ballon" src="../../public/elementer/blå_ballon.png" alt="blå_ballon">
    </div>

</section>