<section class="infotekst">

    <div class="info_tekst">
    <h2>“Vi skaber en <br>
    fortryllende hverdag”</h2>

    <p>KidsAids tryllekunstnere besøger hospitaler for at skabe glæde og magiske øjeblikke for børn, der har det svært. Gennem sjove tricks og fortryllende shows bringer de smil og håb til børnene, hvilket giver dem et tiltrængt pusterum fra sygdom og behandling. <br>
<br>
        Tryllekunstnerne hjælper med at skabe et legende frirum, hvor børnene kan føle sig set, og magien bliver en måde at styrke deres mod og livsglæde.</p>
    </div>

    <div class="balloner">
<img class="gron_hund" src="../../public/elementer/gron_hund.png" alt="gron_hund">
<img class="pink_hund" src="../../public/elementer/pink_hund.png" alt="pink_hund">
    </div>

</section>


<style>

.info_tekst{
    text-align: center;
}

</style>