---
import "../pages/layouts/Mainlayout.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h2>Astro</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero laboriosam iste quam, distinctio soluta laudantium iure a minima! Omnis maiores ipsa tempore fugiat delectus, accusamus officia consequuntur porro? Reprehenderit.</p>
	</body>
</html>
